h3 
{
    font-size: 25px;
}
.btn-sucess:hover {
    background-color: lawngreen;
}
canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count:infinite;
}
@keyframes example {
from {box-shadow: 1px,1px,38px rgb(11, 73, 189);}
to {box-shadow: 1px,1px,38px rgb(22, 214, 150);}
}